

.title-main{
    color: black;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
   }
       
.products-wrapper{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
      gap: 36px;
}

.display-type-btn{
    background-color: rgb(87, 162, 87);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}